<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="person01" class="sram.spring.lesson02.bean实例化方式.构造器方式.Person">
		<constructor-arg index="0" value="小强"></constructor-arg>
	</bean>
</beans>
